body{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    
}

*{
    list-style: none;
    
    text-decoration: none;
}


* h1, h2, h3 {
    font-family: 'Nunito sans', sans-serif;
}

* p {
    font-family: "Open sans";
}
